{
    "presets": [],
    "plugins": [
        [
            "module:fast-async",
            {
                "env": {
                    "log": false
                },
                "compiler": {
                    "promises": false,
                    "generators": false
                },
                "runtimePattern": null,
                "useRuntimeModule": false
            }
        ]
    ]
}